<script lang="typescript">
  import { Route, Router } from "svelte-navigator";
  import AboutPage from "./pages/AboutPage/AboutPage.svelte";
  import HomePage from "./pages/HomePage/HomePage.svelte";
  import "./tailwind.css";
</script>

<Router>
  <Route path="/" component={HomePage} />
  <Route path="/about" component={AboutPage} />
</Router>
